<app-menu></app-menu>
<div class="mt-[110px] mb-6 mx-2 text-center">
  <h1 class="font-bold text-3xl sm:text-4xl md:text-[40px] text-gray-600 ml-4">
    Galeria
  </h1>
  <span class="font-normal md:text-[40px] text-gray-600 ml-4">
    Aqui você pode editar sua galeria de fotos do seu perfil
  </span>
  <br />
  <strong class="ml-4"> Envie uma foto por vez. </strong>
</div>
<div class="grid grid-cols-3 gap-4 flex items-center p-5">
  <div
    *ngFor="let image of images"
    class="flex items-center justify-center mb-4"
  >
    <img
      alt="gallery"
      class="block object-cover object-center w-full h-full rounded-lg"
      src="{{ image.path }}"
    />
    <input
      class="h-[200px] w-[100px] opacity-0 bg-black absolute z-20 text-[40px]"
      accept="image/*"
      type="file"
      id="file"
      name="file"
      (change)="takePhoto($event, image.id)"
    />
  </div>
  <div (click)="addPhoto()" class="flex items-center justify-center mb-4">
    <svg
    class="block object-cover object-center rounded-lg border border-gray-500 w-full h-full"
    xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 24 24"><path d="M20 5h-2.586l-2.707-2.707A.996.996 0 0 0 14 2h-4a.996.996 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zm-8 12c-2.71 0-5-2.29-5-5 0-2.711 2.29-5 5-5s5 2.289 5 5c0 2.71-2.29 5-5 5z"/><path d="M13 9h-2v2H9v2h2v2h2v-2h2v-2h-2z"/></svg>
 </div>

<div
  *ngIf="updated"
  class="flex items-center justify-center fixed bottom-4 z-20 w-screen"
>
  <div
    class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg"
    role="group"
  >
    <button
      (click)="cancelar()"
      type="button"
      class="w-full h-11 rounded-l inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:ring-0 active:bg-red-800 transition duration-150 ease-in-out"
    >
      Cancelar
    </button>
    <button
      (click)="upload()"
      type="button"
      class="w-full h-11 rounded-r inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:ring-0 active:bg-red-800 transition duration-150 ease-in-out"
    >
      Upload
    </button>
  </div>
</div>
<h1
  *ngIf="updatedModal"
  class="text-2xl font-bold text-white bg-primary text-center py-5 bottom-0 absolute w-screen mt-5"
>
  Foto Atualizada
</h1>
